html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header {
    flex: 1 1 100%;
  }

  .calc{
    display: flex;
    border: 1px solid blue;
    flex-wrap: wrap;
   
    width: 600px;
    height: 800px;
  }

  .calcDisplay{
    display: flex;
    border: 1px solid red;
    margin: 15px;
    height: 25%;
    flex: 1 1 100%;
    justify-content: flex-end;
    align-items: flex-end;
   
  }

  .calcNumbers {
    display: flex;
    border: 1px solid green;
    margin: 15px;
    padding: 10px;
    height: 60%;
    width: 60%;
   justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
  }

  .numBut {
    width: 100px;
    height: 107px;

  }

  .opBut {
    width: 60px;
    height: 60px;

  }

  .calcOperators {
    display: flex;
    border: 1px solid yellow;
    margin: 15px;
    width: 29%;
    height: 60%;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
  }

  .clearBut {
    width: 60px;
    height: 100px;
  }

  .equalBut {
    width: 60px;
    height: 100px;
  }

